/*BEGIN THEME CSS*/
body {
    font-family: 'Roboto', sans-serif;
}
#framecontentTop {
    background: #6B054E;
}
#framecontentBottom {
    background: rgb(238,238,238);
}
#headerInfo{
    background-color: white;
}
#currentLocationBar{
    background-color: #6B054E;
}
#listHeaderInfo{
    background-color: white;
    color: #000000;
}

.headerInfoItem{
    background-color: white;
}

#virtualWindow{
    background-color: transparent;
    /*    border-bottom: 0.5px solid #AAAAAA;
        border-top: 0.5px solid #AAAAAA;*/

}

.dropMenuScroller{
    background-color: #33AAAA;
}

.dropMenuScroller:hover{
    background-color: #DDDDDD;
}

#currentForm{
    color: #333333;
    color: rgba(0,0,0,0.5);
}

/*unselected button/menu item*/
#menuScrollBar, #menuWrapper {
    background-color: #FFF;
    color: #FFFFFF;
}

/* menu slider and navigation buttons */
#menuScrollUp, #menuScrollDown, #subMenuButtonLeft, #subMenuButtonRight {
    background-color: rgb(238,238,238);
    color: #000000;
}

#menuScrollUp:hover, #menuScrollDown:hover{
    background-color: #444444;
}
.subMenuItem{
    float: left;
    position: relative;
    margin-top: 10px;
    padding: 0 30px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #3D3D3D;
    border-bottom-color: #777;
    opacity: .6;
    filter: alpha(opacity=30);
}

#iconBar{

    color: #bff3ff;
    background-color: #6B054E;
}
.currentIcon{
    color: #FFF;
}

/* a defalut border color for interface elements */
.subMenuItem, #subMenuButtonLeft, #subMenuButtonRight, .currentSubMenuItem{
}

.crfButton, .iconOn, .iconOff {
    background-color: rgb(238,238,238);
}

.roundbox{
    background: #1e4e6a
}

/*END THEME CSS*/

/*td.top_row_no_bold{
    background: #777;
    color: white;
}*/

.normal_no_bottom_border, .normal_table{
    background-color: #FFFFFF;
}

td.column_header{
    color: #000000;
    background-color: #CFCFCF;
    border: 1px solid #EEE;
}

td.top_row{
    margin-top:0.7em;
    color: #777777;
    background-color: white;
    border-bottom: groove rgb(238,238,238) 0px;
    padding: 10px;
    font-size: 120%;
    text-align: left;
}

td.column_header_select{
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
    text-transform: uppercase;
    background-color: rgb(238,238,238);
    box-shadow: 0px 2px white;
    color: black;
}

.extra_padding {
    padding: 0 5px;
}

.sortableHeader{
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(238,238,238);
    color: black;
    border-radius: 0px;
    border-bottom: 1px solid transparent;
    padding: 0px 5px 15px 5px;
}

.currentSortableHeader{
    color: #6B054E;
}

.sortableHeader:hover{
    color: #6B054E;
    border-bottom: 1px solid #6B054E;
}

.lightly_boxed{
    border-bottom: solid #CCCCCC .75pt;
    border-left: solid #CCCCCC .75pt;
    border-right: solid #CCCCCC .75pt;
}

td.top_row{
    margin-top:0.7em;
    color: #777777;
    background-color: white;
    box-shadow: 4px 0px #777777;
    padding: 10px;
    font-size: 120%;
    text-align: left;
}

.heading{
    border: 1px solid #EEEEEE;
    background-color: #6B054E;
    font-weight: bold;
}

.contrast_high{ /* highest contrast colors, maximum pop */
    color: #EEEEEE;
    background-color: #6B054E;
}
.contrast_medium{ /* medium contrast colors */
    color: #000000;
    background-color: #B2BDC9;
}
.contrast_low{ /* low contrast colors, subtle pastel */
    color: #000000;
    background-color: #CCDDEE;
}
.heading_high{ /* occasional use, high contrast, extra padding, larger font */
    color: rgba(0,0,0,54);
    text-transform: uppercase;
    background-color: #DFDFDF;
    border-bottom: 2px solid rgb(149, 149, 149);
}
.heading_medium{ /* medium contrast, medium padding, larger font ; another good color: #026aa7*/
    color: white;
    background-color: #6B054E;
    font-size: 1.2em;
    border: 1px solid #b8b8b8;
    border-top: none;
}
.heading_low{ /* frequent use, low contrast, subtle pastel */
    color: rgba(0,0,0,54);
    background-color: rgb(238,238,238);
    border: 1px solid #BBCCDD;
}
.widget {
    margin-top:0.2em;
    color: #000000;
    background-color: #c8e4f5;
}
.widget_box {
    margin-top:0.2em;
    color: #000000;
    background-color: rgb(238,238,238);
    border: 1px solid rgb(238,238,238);
    padding: 0.33em 0.33em 0.33em 0.33em; /* top right bottom left */
}

#header-wrap {
    top: 0px;
    bottom: 0px;
    height: 100%;
    background-repeat: repeat;
    background-image: url(../../img/bgHash2.png);
    background-color: #DDDDDD;
    box-shadow: inset 3px 3px rgba(0,0,0,0.5);
}

.menuItem {
    background-color: #DFDFDF;
    color: #000;
}
#whiteBackground{
    background-color: rgb(238,238,238);
    border-right: 0px solid #AAAAAA;
    border-left: 0px solid #AAAAAA;
    border-bottom: 0px solid #AAAAAA;

}

.nextOrPrevPage{
    color: #444;
    display: inline-block;
    font-size: 1rem;
    padding: 0 8px;
    line-height: 26px;
}
.copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 280px;
    font-size: .9em;
    color: #777777;
}
.submit_button_big_text_go {
    font-size: 20px;
    font-weight: bold;
    color: #6B054E;
    background: white;
    margin-right: 20px;
    width: 150px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
    text-transform: uppercase;
    background-color: #fff;
    border: #AAAAAA solid thin;
    border-radius: 1px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
    transition: transform .3s;
    cursor: pointer;
    outline: none;
}
.submit_button_big_text_go:hover {
    background-color: #6B054E;
    box-shadow: 0px 5px 10px rgba(9, 79, 142, 0.4);
    color: #fff;
    transform: translate(0px, 2px);
    border: rgba(9, 79, 142, 0.4) solid thin;
    border-radius: 2px;
}
save_button{
    color: rgba(9, 79, 142, 0.9);
    font-weight: bold;
}
.highlightRow {
    color: white;
    background: #c2b2be;
}
.subMenuItem:hover{
    border-bottom-color: #6B054E;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate(0px, 2px);
}
.css_button_class001:hover, .submit_button:hover {
    background-color: #6B054E;
    box-shadow: 0px 5px 10px rgba(9, 79, 142, 0.4);
    color: #fff;
    transform: translate(0px, 2px);
    border: rgba(9, 79, 142, 0.4) solid thin;
    border-radius: 2px;
}
.list_row_link_even:hover {
    background: rgb(238,238,238);
    color: #6B054E;
}
.list_row_link_odd:hover {
    background: rgb(238,238,238);
    color: #6B054E;
}
.menuItem:hover {
    color: #FFF;
    background-color: #6B054E;
    border-width: 0px;
    border-style: solid;
    border-color: #444444;
}
