/* PALETTE web/interface/themes/blue/blue.properties */
/* LAYOUT  web/interface/themes/theme.css.vm */





/*BEGIN THEME CSS*/
body {color:#00091b; background-color:#aab5c1; border-color:#99a4b0;
  font-family: 'Droid Sans', sans-serif;
}
.label {color:#000000; background-color:#bbddff; border-color:#a8c7e6;
background-color: transparent;
}
#mainContent{color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
#menu{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
.menuItem { color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.menuItem:hover { color:#00091b; background-color:#bbddff; border-color:#a8c8e8; }
.currentMenuItem{ color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.currentSubMenuItem { color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
#headerInfo{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
#listHeaderInfo{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
.headerInfoItem{
  color: #09192b;
  background-color: #bbddff;
}
#virtualWindow{
  background-color: #626d79;
  border: 5px solid #626d79;
}
#virtualWindowList #virtualWindow{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;
  border-width: 5px;
}
.currentStudySiteDropdown{background-color:#39495b; border-color:#4b5a6b;}
#currentForm{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
/*unselected button/menu item*/
#menuScrollBar, #menuWrapper {
  background-color: #626d79;
  color: #ffffff;
}
/* menu slider and navigation buttons */
#menuScrollUp, #menuScrollDown, #subMenuButtonLeft, #subMenuButtonRight {
  background-color: #626d79;
  color: #000000;
}
#menuScroller{
  background-color: #29394b;
}
#menuScroller:hover, #menuScrollUp:hover, #menuScrollDown:hover{
  background-color: #929da9;
}
#iconBar{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
.studySiteSelect{
  margin: 0;
  padding: 6px;
  background: #f8f8f8;
  font-family: 'Droid Sans';
  color:#09192b;
  border:none;
  outline:none;
}
/* a defalut border color for interface elements */
.subMenuItem, #subMenuButtonLeft, #subMenuButtonRight{
  border-color: #828d99;
  border-color: rgba(0,0,0,0.3);
}
.crfButton, .iconOn, .iconOff, #user-account .roundbox, #currentLocationBar{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
/*END THEME CSS*/

td.top_row_no_bold{
  background: #bbddff;
  color: #09192b;
}
.normal_no_bottom_border, .normal_table{
  background-color: #ffffff;
}
td.column_header{
  color:#00091b; background-color:#aab5c1; border-color:#99a4b0;
  margin-top: 4px;
  margin-bottom: 4px;
}
td.column_header_select{
  color:#00091b; background-color:#a2adb9; border-color:#929da9;
  margin-top: 4px;
  margin-bottom: 4px;
}
td.top_row{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sortableHeader{
  color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 4px;
}
.sortableHeader:hover{color:#eeeeff; background-color:#19293b; border-color:#2e3d4f;}
.currentSortableHeader{color:#eeeeff; background-color:#19293b; border-color:#2e3d4f; }
.currentSortableHeader:hover{color:#eeeeff; background-color:#19293b; border-color:#2e3d4f;}
.lightly_boxed{
  border-bottom: solid #b2bdc9 .75pt;
  border-left: solid #b2bdc9 .75pt;
  border-right: solid #b2bdc9 .75pt;
}
td.top_row{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.heading{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.widgets{ color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.contrast_low{ color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.contrast_medium{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.contrast_high{ color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.heading_low{ color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.heading_medium{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.heading_high{ color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.list_item_current {
  background-color: rgba(0,0,0,0.05); /* 5 percent darker */
}

.list_row_odd { color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.list_row_even { color:#000000; background-color:#b7cde4; border-color:#a5b9cd; }
.list_row_neutral { color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.list_row_link_odd { color:#000000; background-color:#bbddff; border-color:#a8c7e6; }
.list_row_link_even { color:#000000; background-color:#b7cde4; border-color:#a5b9cd; }
.highlight { color:#00091b; background-color:#aab5c1; border-color:#99a4b0; } /* used for currently selected row, sort of */
.list_row_link_odd:hover { color:#000000; background-color:#eeeeff; border-color:#d6d6e6; }
.list_row_link_even:hover { color:#000000; background-color:#eeeeff; border-color:#d6d6e6; }
.list_item_current {background-color: rgba(0,0,0,0.10);}
.list_row_odd_muted {color:#000000; background-color:#bbddff; border-color:#a8c7e6;}
.list_row_slightly_dark {color:#000000; background-color:#b2bdc9; border-color:#a0aab5;}
.list_row_dark {color:#000000; background-color:#929da9; border-color:#838d98;}
.list_row_even_muted {color:#000000; background-color:#b7cde4; border-color:#a5b9cd;}
.highlight:hover {color:#00091b; background-color:#bbddff; border-color:#a8c8e8;}

/* all-tab colors */
#showAllTabsButton{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
#showAllTabsButton:hover{ color:#00091b; background-color:#bbddff; border-color:#a8c8e8; }
.subMenuItem{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.subMenuItem:hover{ color:#00091b; background-color:#bbddff; border-color:#a8c8e8; }
#allTabsMenu{
  background-color: #555;
  background-color: rgba(0,0,0,.7);
  border-color: #000;
}
.allTabItem{ color:#00091b; background-color:#aab5c1; border-color:#99a4b0; }
.allTabItem:hover{ color:#00091b; background-color:#bbddff; border-color:#a8c8e8; }
.allTabsCol{ border-color: #CCC; }

.today_now_button{color:#00091b; background-color:#aab5c1; border-color:#99a4b0;}
.today_now_button_error{
  /* todo include error colors in properties */
}
.today_now_button_warning{
  /* todo include warning colors in properties */
}
.normal_table { color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.first_under_tabs { color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.first_under_tabs_bottom_border { color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }
.first_under_tabs_bottom_border_no_print_border { color:#eeeeff; background-color:#39495b; border-color:#4b5a6b; }

.ownerName{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
.ownerNameSelect{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
.ownerType{color:#eeeeff; background-color:#39495b; border-color:#4b5a6b;}
